*{
    margin: 10px;
}

.columna-izquierda {
    float: left;
    margin-top: 50px;
    background-color: rgb(171, 171, 235);
}

.columna-centro {
    float: left;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgb(247, 236, 247);
}

.columna-derecha {
    float: left;
    margin-top: 30px;
}

.bajo {
    margin-left: 220px;
    margin-top: 50px;
}

.derecha {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(129, 248, 248);
}

button {
    margin: 8px;
    padding: 15px;
}

